absl-py==0.7.1
AGILe==1.5.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
awkward==0.12.17
backcall==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.lzma==0.0.13
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
bcrypt==3.1.6
bleach==3.1.0
cachetools==3.1.1
caniusepython3==7.1.0
Cartopy==0.17.0
cernrequests==0.3.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
cmmnbuild-dep-manager==2.1.3
colorcet==2.0.2
configparser==3.7.4
control===dev
CouchDB==1.2
coverage==4.5.3
# Editable install with no version control (cpymad==1.4.1)
-e /cvmfs/sft.cern.ch/lcg/views/LCG_97python3/x86_64-centos7-gcc9-opt/lib/python3.7/site-packages
cryptography==2.7
cx-Oracle==7.1.3
cycler==0.10.0
Cython==0.29.13
dask==0+unknown
decorator==4.3.2
defusedxml==0.6.0
dill==0.2.9
distlib==0.2.9
distributed==1.28.1
ecalic==0.1.9
elasticsearch==6.3.0
-e git+ssh://git@gitlab.cern.ch:7999/fcouderc/elmonk.git@315d2c866362a0d386cacf4b58b1da17fb7acf90#egg=elmonk
entrypoints==0.3
fastparquet==0.5.0
flake8==3.7.8
Flask==1.1.2
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
GDAL==2.4.0
Genshi==0.7
globus-sdk==1.8.0
google-auth==1.6.3
gosam===2.0.4-12f4de9
graphviz==0.11.1
grpcio==1.21.1
h5py==2.9.0
HeapDict==1.0.0
hepdata-converter==0.1.34
hepdata-validator==0.1.16
html5lib==1.0.1
hypothesis==5.3.0
idna==2.8
imageio==2.5.0
iminuit==1.3.6
importlib-metadata==0.18
importlib-resources==1.0.2
ipaddress==1.0.22
ipydatawidgets==4.0.1
ipykernel==5.1.1
ipympl==0.4.1
ipyparallel==6.2.4
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
itk-core==5.0.1
itk-filtering==5.0.1
itk-io==5.0.1
itk-meshtopolydata==0.5.1
itk-numerics==5.0.1
itkwidgets==0.25.3
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
joblib==0.14.0
JPype1==0.6.3
json2table==1.1.5
json5==0.9.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
kubernetes==9.0.0
lazy-object-proxy==1.3.1
LHAPDF==6.2.3
llvmlite==0.29.0
logilab-common==1.4.2
lxml==4.3.3
M2Crypto==0.34.0
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.0
mccabe==0.6.1
memory-profiler==0.58.0
messaging==1.1
metakernel==0.24.2
minrpc==0.0.11
mistune==0.8.4
mock==3.0.5
more-itertools==7.0.0
mpmath==1.1.0
msgpack==0.6.1
multiprocess==0.70.9
nbconvert==5.5.0.dev0
nbformat==4.4.0
networkx==2.3
nose==1.3.7
notebook==5.7.8
numba==0.44.0
numexpr==2.6.9
numpy==1.18.1
oauthlib==3.0.1
octave-kernel==0.31.0
OWSLib==0.17.1
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
param==1.9.3
paramiko==2.4.2
parsl==0.9.0
parso==0.4.0
pathlib2==2.3.3
pathos==0.2.3
patsy==0.5.1
pbr==5.2.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pjlsa==0.0.14
pkgconfig==1.5.1
plotly==0+unknown
pluggy==0.12.0
pox==0.2.5
ppft==1.6.4.9
prettytable==0.7.2
professor2===X.Y.Z
prometheus-client==0.7.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.2
ptyprocess==0.6.0
py==1.5.4
py2neo==4.3.0
py4j==0.10.7
pyarrow==0.15.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pybind11==2.6.1
pycairo==1.18.1
pycodestyle==2.5.0
pycparser==2.19
pyct==0.4.6
pydot==1.4.1
pydot-ng==2.0.0
pyflakes==2.1.1
Pygments==2.4.2
pyHepMC3==3.2.1
pyHepMC3.rootIO==3.2.1
pyHepMC3.search==3.2.1
pyjapc==2.0.4
PyJWT==1.7.1
pylint==2.3.1
PyNaCl==1.3.0
pyparsing==2.4.0
pyproj==2.1.3
PyQt5==5.12.3
PyQt5-sip==4.19.15
PyRDF==0.2.0
pyrsistent==0.15.2
pyserial==3.4
pyshp==2.1.0
pyspark==2.4.5
pystan==2.19.0.0
pytest==5.3.4
pytest-runner==5.1
python-dateutil==2.8.0
python-gitlab==1.8.0
python-prctl==1.7
python-vxi11==0.9
python37-omsapi==0.7.2
pytimber==2.7.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==18.0.1
qmtest==2.4.1
qtconsole==4.5.1
QtPy==1.7.1
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
rise==5.5.0
rivet==3.0.1
root-numpy==4.8.0
root-pandas==0.7.0
rpy2==3.0.4
rsa==4.0
runregistry==0.2.8
scandir==1.10.0
scikit-image==0.14.3
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
setuptools-scm==3.3.3
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.1
singledispatch==3.4.0.3
six==1.12.0
sortedcontainers==2.1.0
SQLAlchemy==1.2.10
statsmodels==0.10.2
stomp.py==3.1.3
sympy==1.4
tables==3.6.0
tblib==1.4.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
Theano==1.0.4
thrift==0.13.0
toolz==0.9.0
torch==1.3.0a0
torchvision==0.4.1a0
tornado==5.1.1
tqdm==4.48.0
traitlets==4.3.2
traittypes==0.2.1
typed-ast==1.4.0
typeguard==2.7.0
tzlocal==2.0.0
uncertainties==3.0.3
upandas==0.2.0
uproot==3.10.12
uproot-methods==0.7.1
urllib3==1.25.3
vcversioner==2.16.0.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.4
widgetsnbextension==3.3.0
wrapt==1.11.1
xenv==1.0.0
xgboost==0.90
xrootd==4.11.2
yoda==1.8.0
zict==0.1.4
zipp==0.5.1
zstandard==0.13.0
